model_based_rl/stage_1_action_heat/Models/*
model_based_rl/stage_2_actions_heat_fan_cool/Models/*
model_based_rl/stage_3_action_heat/Models/*

model_free_rl/stage_1_action_heat/Models/*
model_free_rl/stage_2_actions_heat_fan_cool/Models/*

!model_based_rl/stage_1_action_heat/Models/readme_file.txt
!model_based_rl/stage_1_action_heat/Models/README.txt
