model_based_rl/stage_1_action_heat/Models/*
model_based_rl/stage_2_actions_heat_fan_cool/Models/*
model_based_rl/stage_3_action_heat/Models/*

model_free_rl/stage_1_action_heat/Models/*
model_free_rl/stage_2_actions_heat_fan_cool/Models/*


!model_based_rl/stage_1_action_heat/Models/README.txt
!model_based_rl/stage_2_actions_heat_fan_cool/Models/README.txt
!model_based_rl/stage_3_action_heat/Models/README.txt

!model_free_rl/stage_1_action_heat/Models/README.txt
!model_free_rl/stage_2_actions_heat_fan_cool/Models/README.txt

results/boptest_hydronic_heat_pump/task_1/model_free_sac/0_old
results/boptest_hydronic_heat_pump/task_1/model_free_sac/1_old
results/boptest_hydronic_heat_pump/task_1/model_free_sac/2_old

results/boptest_hydronic_heat_pump/task_1/model_free_sac/0/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_free_sac/0/individual_test_results/

results/boptest_hydronic_heat_pump/task_1/model_free_sac/1/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_free_sac/1/individual_test_results/

results/boptest_hydronic_heat_pump/task_1/model_free_sac/2/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_free_sac/2/individual_test_results/


results/boptest_hydronic_heat_pump/task_1/model_based_sac/0/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_based_sac/0/individual_test_results/


results/boptest_hydronic_heat_pump/task_1/model_based_sac/1/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_based_sac/1/individual_test_results/


results/boptest_hydronic_heat_pump/task_1/model_based_sac/2/individual_train_results/
results/boptest_hydronic_heat_pump/task_1/model_based_sac/2/individual_test_results/
